Angular-Project/src/app/dialog/dialog.component.html
Angular-Project/src/app/dialog/dialog.component.scss
Angular-Project/src/app/dialog/dialog.component.spec.ts
Angular-Project/src/app/dialog/dialog.component.ts
