<div style="width:50%; margin:auto;">
  
  <div style="display:inline-block; width:45%;text-align:center;">
    <form>
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname">
    </form>
  </div>

  <div style="display:inline-block; width:45%;text-align:center;">
    <form>
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname">
    </form>
  </div>


</div>

<router-outlet></router-outlet>
