<html>
  <body>
    <form method="post" action="basket_backend">
      Where do I send this to? <input type="text">
      <input type="submit" value="You will SUBMIT!!!">
    </form>
    <form method="post" action="product_backend">
      Shoe
      <input type="button" value="+">
      <span class="quantity">1</span>
      <input type="button" value="-">
    </form>
    <form method="post" action="product_backend">
      Sock
      <input type="button" value="+">
      <span class="quantity">3</span>
      <input type="button" value="-">
    </form>
  </body>
</html>

<router-outlet></router-outlet>
