<br>
<button type="submit" style="float: right;" (click)="openDialog1()" ><i  class="fa fa-sign-out" >Logout</i></button><br>
<h1>Employee Details:</h1>
<br>
<br>
<table class="table">
<tr>
    <th>First Name:</th>&nbsp;
    <!-- <th>Id:</th>&nbsp; -->
    <th>Last Name:</th>&nbsp;
    <th>Email:</th>&nbsp;
    <th>Employee Id:</th>&nbsp;
    <!-- <th>No. of Selected</th> -->
    <!-- <th>Flag</th>  -->
    <th>Roles:</th>
</tr>

<br>

<tr *ngFor="let employee of employeeList">

  
      <td [title]="'Click the icon to view details'" >{{employee.firstName | uppercase}}&nbsp;&nbsp;&nbsp;<a routerLink="/detailemployee/{{employee.id}}"><i class="fa fa-address-card-o" style="font-size:24px;color:red"></i></a></td>&nbsp;
    <!-- <td>{{employees.id}}</td>&nbsp; -->
    
    <td [title]="employee.lastName">{{employee.lastName | uppercase}}</td>&nbsp;

    <td>{{employee.mailID}}</td>&nbsp;
    <td>{{employee.employeeId}}</td>&nbsp;
    <!-- <td>{{countt}}</td>&nbsp; -->
    <!-- <td></td>  -->
    <td>{{employee.roles | uppercase}}</td>
    
    <a [title]="'Click here to update'" routerLink="/update/{{employee.id}}"><i class="fa fa-edit">EDIT</i></a>
    <td [title]="'Click here to delete '"><button mat-button class="delete button"(click)="openDialog(employee)"><i class="fa fa-trash" >&nbsp;</i>DELETE</button> 
        </td>
</tr>
<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
</table>

<!-- <button mat-button (click)="openDialog()">opendialog</button> -->

<ng-template  #dialogRef>
    <h2>Are you sure?</h2>
    <button (click)="delete({deleteEmployee})" >Confirm</button>
    <button>CANCEL</button>

    
</ng-template>
<ng-content></ng-content>
<ngx-spinner
  [name]="spinnerName"
  [type]="spinnerType"
  bdColor="rgba(0,0,0,0.5)"
  size="medium"
  color="#fff"
  [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>


<ng-template #dialogRef1>
    <h2 >Are you sure?</h2>
    <button (click)="logout()" >Logout</button>
    <button (click)="cancelDialog()"> Cancel </button>

    
</ng-template>



<router-outlet></router-outlet>

