<br>
<button type="submit" [routerLink]="'/home'"  (click)="logout()" >logout</button><br>
<h1>Employee Details:</h1>
<br>
<br>
<table class="table">
<tr>
    <th>First Name:</th>&nbsp;
    <!-- <th>Id:</th>&nbsp; -->
    <th>Last Name:</th>&nbsp;
    <th>Email:</th>&nbsp;
    <th>Employee Id:</th>&nbsp;
    <th>Attendance %</th>
    <th>Flag</th>
    <th>Roles:</th>
</tr>

<br>

<tr *ngFor="let employee of employeeList">

    <td>{{employee.firstName}}</td>&nbsp;
    <!-- <td>{{employees.id}}</td>&nbsp; -->
    <td>{{employee.lastName}}</td>&nbsp;

    <td>{{employee.mailID}}</td>&nbsp;
    <td>{{employee.employeeId}}</td>&nbsp;
    <td></td>
    <td></td>
    <td>{{employee.roles}}</td>
    
    <td><button class="btn-edit" [routerLink]="'/update'" [queryParams]="{id:employee.employeeId}">Edit</button></td>
    <td><button class="btn-edit" (click)="delete(employee)" >Delete</button></td>
</tr>
</table>

<router-outlet></router-outlet>

