
<button type="submit" style="float: right;"  (click)="openDialog1()" mat-raised-button color="warn"><mat-icon>home</mat-icon>LogOut</button>

<h2 class="title"> &nbsp; Hi {{fn | uppercase}},  </h2>

<select>
  <option *ngFor="let item of employeeFirstName">{{item}}</option>
</select>

<div class="container">
  <h2 style="text-align: center;  font-family: 'Courier New', monospace; font-weight:bold;">{{monthName}}</h2>
  <div  class="header">
      <div class="day">Sunday</div>
      <div class="day">Monday</div>
      <div class="day">Tuesday</div>
      <div class="day">Wednesday</div>
      <div class="day">Thursday</div>
      <div class="day">Friday</div>
      <div class="day">Saturday</div>
  </div>
  <div class="content">
      <div class="date_box"  *ngFor="let item of Object.keys(data);let i=index">
         <div *ngIf="data[i]">
         <span class="date"> {{data[i].date}}</span>
         <span class="count">Count :{{employeeCount[i-3]}}</span>
          <span  class="empAvail">
          <ul>
              <li>
                  {{employeeName[i-3]}}
              </li>
          </ul>
          
        </span>
        <!-- <span  *ngIf="employeeCount" class="empAvail">
          <ul>
          <li *ngFor="let emp1 of employeeCount ">
              {{data[i].emp1}}
          </li>
      </ul></span> -->
         </div>
      </div>
  </div>
  <h5>Note: Hover over a certain date to check availability.</h5>
</div>

<!-- <table>

  <tr>
    <th>date response:</th>
  </tr>
  <tr  *ngFor="let yt of employeeName">
    <td>{{yt}}</td>
  </tr>
</table> -->


<br>
<br>
<br>

<table class="tableStyle">
  <thead>
  <tr>
    <th>First Name:</th>&nbsp;
    <!-- <th>Id:</th>&nbsp; -->
    <th>Last Name:</th>&nbsp;
    <th>Email:</th>&nbsp;
    <th>Employee Id:</th>&nbsp;
     <!-- <th>Attendance %</th> -->
    <!-- <th>Flag</th>  -->
    <th>Roles:</th>
</tr>
</thead>

<tbody>
  <tr class="active-row" *ngIf="employee">

  
    <td>{{employee.firstName | uppercase}}&nbsp;&nbsp;&nbsp;<i class="fa fa-address-card-o" style="font-size:24px;color:red"></i></td>&nbsp;
    <!-- <td>{{employees.id}}</td>&nbsp; -->
    
    <td>{{employee.lastName | uppercase}}</td>&nbsp;

    <td>{{employee.mailID}}</td>&nbsp;
    <td>{{employee.employeeId}}</td>&nbsp;
    <!-- <td> </td> -->
    <!-- <td>
      <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="this.flag==0"><img class="img" src="assets/img/greenflag.png"  ></ng-container>
        <ng-container *ngSwitchCase="this.flag==1"><img class="img" src="assets/img/yellowflag.jpg"  ></ng-container>
        <ng-container *ngSwitchCase="this.flag==2"><img class="img" src="assets/img/redflag.jpg"  ></ng-container>
      </ng-container>
    </td>  -->
    <td>{{employee.roles | uppercase}}</td>
</tr>
</tbody>

</table>

<!-- <div style="float: right;">
  <div><img class="img" src="assets/img/greenflag.png" > Great Attendance </div>
  <div><img class="img" src="assets/img/yellowflag.jpg" > Attention required</div>
  <div><img class="img" src="assets/img/redflag.jpg" > Low Attendance </div>
  
</div> -->

  <button class="buttonForSchedule" (click)="flag1()" [matMenuTriggerFor]="appMenu" mat-raised-button color="primary">
    <span class="tooltiptext">Pick the dates, on which you will arrive at the Office</span>
    MAKE SCHEDULE
   
  </button> 
   <!-- <div class="matmenu" cdkDrag>  -->
   <mat-menu class="matmenu"  #appMenu="matMenu" cdkDrag >
      <div (click)="$event.stopPropagation()" ><br>
          <mat-calendar #calendar 
             (selectedChange)="select($event,calendar)" 
              [dateClass]="isSelected">
          </mat-calendar>
        </div>
      <br>
      <span style="font-family: 'Courier New', monospace; font-weight:bold;">Pick the dates, on which you will arrive at the office!</span>
      <br><br>
      <button mat-raised-button color="warn" class="btn">OK</button>
  </mat-menu> 
<!-- </div> -->
  <!-- {{daysSelected|json}} -->
<br><br>
  <table *ngIf="ifValid" class="zigzag">
    <thead>
    <tr>
      <th class="header">Dates selected:</th>
      <th class="header"> Month:</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let dates of daysSelected">
      <td>{{dates}}</td>
      <td> {{monthName}}</td>
    </tr>
  </tbody>
  </table>

  <button class="submitBtn" (click)="openDialog2()" >
    SUBMIT
  </button>

  <ng-template  #dialogRef>
    <h3><b>Are you sure?</b></h3>
    <button (click)="passTheDates()"  mat-raised-button color="primary">Confirm</button>
    <button mat-raised-button color="warn" (click)="cancelDialog()">CANCEL</button>

    
</ng-template>
  <br>
  <br>    
  <ngx-spinner
  [name]="spinnerName"
  [type]="spinnerType"
  bdColor="rgba(0,0,0,0.5)"
  size="large"
  color="#fff"
  [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
  <router-outlet></router-outlet>


  <!-- <mbsc-datepicker [(ngModel)]="myBirthday"  placeholder="Please select..." /> -->
  <!-- <mbsc-datepicker
    [controls]="['calendar']"
    [selectMultiple]="false">
</mbsc-datepicker> -->
<!-- <input [matDatepicker]="basicDatepicker">
<mat-datepicker-toggle [for]="basicDatepicker">
  <mat-icon matDatepickerToggleIcon>
      mouse
  </mat-icon>
</mat-datepicker-toggle>
<mat-datepicker #basicDatepicker></mat-datepicker> -->

  <!-- Date: <input type="date" [(ngModel)]="days">
  fetch data:<button type="button" (click)="fetchData()"></button> -->



  <!-- <p>{{today | date:'yyyy-MM-dd'}}</p> -->
  <button (click)="getDates()" mat-raised-button color="primary">
   <tr><th>CHECK SELECTED DATES</th>
  </button> 
  <br>
  <br>
  <table>
  <tr *ngFor="let employee22 of employeedates">
  <td>{{employee22.date | date : 'fullDate' | uppercase}}</td>
  </tr>
</table>

<!-- <h1 style ="float: right;">Employee Details:</h1> -->
<br>

<table class="tableStyle">
   
  <thead>
    <tr style="background-color: #4e45ac; text-align: center;  font-family: 'Courier New', monospace; font-weight:bold;">
     <th>Employee Details:</th> 
    </tr>
  <tr>
      <th>First Name:</th>&nbsp;
      <!-- <th>Id:</th>&nbsp; -->
      <th>Last Name:</th>&nbsp;
      <th>Email:</th>&nbsp;
      <th>Employee Id:</th>&nbsp;
      <!-- <th>Attendance %</th>
      <th>Flag</th> -->
      <th>Roles:</th>
  </tr>
  </thead>

  <tbody>
  <tr class="active-row" *ngFor="let employee of employeeList">
  
    
      <td>{{employee.firstName | uppercase}}&nbsp;&nbsp;&nbsp;<a routerLink="/detailemployee/{{employee.id}}"><i class="fa fa-address-card-o" style="font-size:24px;color:red"></i></a></td>&nbsp;
      <!-- <td>{{employees.id}}</td>&nbsp; -->
      
      <td>{{employee.lastName | uppercase}}</td>&nbsp;
  
      <td>{{employee.mailID}}</td>&nbsp;
      <td>{{employee.employeeId}}</td>&nbsp;
      <!-- <td> </td>
      <td></td> -->
      <td>{{employee.roles | uppercase}}</td>
  </tr>
  </tbody>
  </table>

  <ng-template class="dialog" #dialogRef1>
    <h2 >Are you sure?</h2>
    <button (click)="logout()" mat-raised-button color="primary" >Logout</button>
    <button (click)="cancelDialog()" mat-raised-button color="warn"> Cancel </button>
  </ng-template>
<!-- 
<div >
<mat-calendar [selected]="">
</mat-calendar>
</div> -->

<table>
<tr *ngFor="let bruuuu of bruh">
<th>date is: {{bruuuu | date : 'yy/M/d'  }}</th>

</table>
  <router-outlet></router-outlet>
