<br>
<br>
<button type="submit" class="button" style="float: right;" [routerLink]="'/home'"  (click)="logout()" >LogOut</button><br>
<br>

<!-- DATE PICKER: <input type="date" [value]="TodayDate" > -->
<table class="table">
  <tr>
      <th>First Name:</th>&nbsp;
      <!-- <th>Id:</th>&nbsp; -->
      <th>Last Name:</th>&nbsp;
      <th>Email:</th>&nbsp;
      <th>Employee Id:</th>&nbsp;
      <th>Attendance %</th>
      <th>Flag</th>
      <th>Roles:</th>
  </tr>
  
  <br>
  
  <tr *ngIf="employee">
  
      <td>{{employee.firstName}}</td>&nbsp;
      <td>{{employee.id}}</td>&nbsp; 
      <td>{{employee.mailID}}</td>&nbsp;
      <td>{{employee.employeeId}}</td>&nbsp;
      <td></td>
      <td></td>
      <td>{{employee.roles}}</td>
  </tr>
  </table>
  <br>
  <br>

  <button class="button" [matMenuTriggerFor]="appMenu">
    MAKE SCHEDULE
  </button> 
   <mat-menu class="matmenu" #appMenu="matMenu">
      <div (click)="$event.stopPropagation()">
          <mat-calendar #calendar 
             (selectedChange)="select($event,calendar)" 
              [dateClass]="isSelected">
          </mat-calendar>
      </div><br><br>
      <button class="btn">OK</button>
  </mat-menu> 
  <!-- {{daysSelected|json}} -->
<br><br>
  <table>
    <tr>
      <th>Dates selected:</th>
    </tr>
    <tr *ngFor="let dates of daysSelected">
      <td>{{dates}}</td>
    </tr>
  </table>

  <button class="button" (click)="passTheDates()">
    SUBMIT
  </button>
  <!-- <mbsc-datepicker [(ngModel)]="myBirthday"  placeholder="Please select..." /> -->
  <!-- <mbsc-datepicker
    [controls]="['calendar']"
    [selectMultiple]="false">
</mbsc-datepicker> -->
<!-- <input [matDatepicker]="basicDatepicker">
<mat-datepicker-toggle [for]="basicDatepicker">
  <mat-icon matDatepickerToggleIcon>
      mouse
  </mat-icon>
</mat-datepicker-toggle>
<mat-datepicker #basicDatepicker></mat-datepicker> -->

  <!-- Date: <input type="date" [(ngModel)]="days">
  fetch data:<button type="button" (click)="fetchData()"></button> -->



  <!-- <p>{{today | date:'yyyy-MM-dd'}}</p> -->
  <router-outlet></router-outlet>
