
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.mat-calendar-body-cell.selected
{
  background-color:red!important;
  border-radius: 50%;
  // width:auto;
}
.drop-calendar
{
  width:30rem;
}
