<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <br>
  <br>

<h2>&ensp;Login </h2>

<form >
  <div class="imgcontainer">
    <h1></h1>
    <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
  </div>

  <div class="container">
    <label for="uname"><b>Mail id:</b></label>
    <input type="email" placeholder="Enter your Mail Id" name="email" required>

    <label for="psw"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit" [routerLink]="'/admin'">Login</button><br>
    <!-- (click)="goToPage('admin')" -->
    
    <input type="checkbox" checked="checked" name="remember"><label>Remember me</label> 
    <nav>
      <!-- <a routerLink="admin">Admin link</a> -->
    </nav>
  
  </div>
  
  <div class="container" style="background-color:#faf8f8">
    <span class="psw"> <a href="#">Forgot password?</a></span>
  </div>
</form>


</body>
</html>
