<html>
<head>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>
<body>
  <br>
  <br>

<h2>Login: </h2>

<form [formGroup]="validateemployee" >
   
  <div class="container" >

    {{validateemployee.value |json}}<br>

    
    <label for="uname"><b>Mail ID:</b></label>
    <input required type="email" placeholder="Enter your Mail Id" name="email" required formControlName="email">


    <label for="psw"><b>Password:</b></label>
    <input required type="password" placeholder="Enter Password" name="psw" required formControlName="password" >
        
    <button  (click) ="login()" >Login</button><br>

    <button [routerLink]="'/addemployee'" type="submit"  >SignUp</button><br>
    <!-- (click)="goToPage('admin')" -->

    <input type="checkbox" checked="checked" name="remember"><label>Remember me</label> 
    

  
  </div>
  
  <div class="container" style="background-color:#faf8f8">
    <span class="psw"> <a href="#">Forgot password?</a></span>
  </div>
</form>



</body>
</html>
