<html>
<head>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>
<body>
  <br>
  <br>

<h2>Login: </h2>

<form [formGroup]="validateemployee" >
   
  <div class="container" >

    {{validateemployee.value |json}}<br>

    <div>
    <label for="uname"><b>Mail ID:</b></label>
    <input required type="email" placeholder="Enter your Mail Id" name="email" required formControlName="email">
    </div>
    <small *ngIf="validateemployee.controls['email'].dirty && validateemployee.hasError('required','email') ">*Mail Id is required</small>
    <br>
    <br>
    <div>
    <label for="psw" ><b>Password:</b></label>
    <input required type="password" placeholder="Enter Password" name="psw" required formControlName="password" > 
    </div>
    <small *ngIf="validateemployee.controls['password'].dirty && validateemployee.hasError('required','password') ">*Password Id is required</small>
    <br>
    <br>
    <button type="submit" (click)="onSubmit()">Login</button>
    <!-- [routerLink]="'/admin'" -->
    <p style="text-align:center"> Don't have an account ? Create a new account by clicking on Sign Up</p>
    <button [routerLink]="'/addemployee'" type="submit" >SignUp</button><br>
    <!-- (click)="goToPage('admin')" -->

    <input type="checkbox" checked="checked" name="remember"><label>Remember me</label> 
    

  
  </div>
  
  <div class="container" style="background-color:#faf8f8">
    <span class="psw"> <a href="#">Forgot password?</a></span>
  </div>
</form>



</body>
</html>
