  .img
{
width:120px;
height:50px;
padding: 10px ;
animation: movedown 1s linear 1;
animation-delay: 1s;
}

@keyframes movedown {
  
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }

}

.header{
  background-color:white;

}